.footer {
  background: #435cb2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}

.footer-logo {
  width: 80px;
  padding: 0px 10px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #63f8f7;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #fd04fc;
}
