.wrapper {
  margin: 125px 0 0;
}

.form-control {
  padding: 0.375rem 1.5rem;
}

#query,
#category,
body > div.wrapper > form > input {
  height: 60px;
  box-shadow: 0 3px 15px rgba(0,0,0,.2);
}

.searchbar-container {
  display: flex;
  justify-content: center;
}

#category {
  min-width: 150px;
  border: 1px;
}

#query {
  text-align: center;
  min-width: 250px;
  border: 1px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 1px solid rgba(0,0,0,.1);
}

.btnsub {
  text-align: center;
  min-width: 20px;
  border: 1px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 3px 15px rgba(0,0,0,.2);
}
