<div class="container m-5">
  <div class="grid-index m-3">
    <% @doubles.each do |double| %>
      <%= link_to double_path(double) do %>
        <div class="card">
          <h2><%= double.name %></h2>
          <p><%= double.price %></p>
          <p><%= double.address %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


