<% @doubles.each do |double| %>
  <h2><%= link_to double.name, double_path(double) %></h2>
  <ul>
    <li><p><%= double.price %></p></li>
    <li><p><%= double.address %></p></li>
    <li><p><%= double.category %></p></li>
  </ul>
<% end %>
