<div class="container m-5 p-5">
  <div class="grid-index">
    <% @doubles.each do |double| %>
      <%= link_to double_path(double) do %>
            <div class="card">
              <h3><%= double.name %></h3>
              <p><%= double.category %></p>
              <p><%= double.address %></p>
            </div>
      <% end %>
    <% end %>
  </div>
</div>
