<% @doubles.each do |double| %>
  <h1><%= double.name %></h1>
  <ul>
    <li><p><%= double.price %></p></li>
    <li><p><%= double.address %></p></li>
    <li><p><%= double.category %></p></li>
  </ul>
<% end %>
