  <div class="hero">
    <div class="text-header d-flex justify-content-center align-items-center">
      <h1>Air-Sosies</h1>
    </div>
    <div class="down-arrow d-flex justify-content-center align-items-end">
      <a href="#"><%= icon('fas','chevron-down') %></a>
    </div>
  </div>
