body > div.content-wrapper > div > div.grid-show.my-5 > div.left-content > div > div > div > a:nth-child(2) > i{
  color: red;
}
.grid-show {
  display: flex;
  justify-content: space-between;
  .left-content{
    margin-right: 40px;
  }
  .title-and-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .buttons {
    display: flex;
    margin-left: 40px;
    a {
      color: #111470;
    }
  }
}

@media only screen and (max-width: 768px) {
  .grid-show {
    grid-template-columns: 1fr;
  }
}
