.map-container {
  position: sticky;
  width: 40%;
}

#map {
  height: 100vh;
  position: sticky;
  top: 120px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#popup_content {  
  h5, p {
    color: black;
  }
}